<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dampness Hunter</title>
  <meta name="description" content="Control a heater with a Raspberry Pi, a temperature and humidity sensor and a relay.">
  <meta name="author" content="Yoan Tournade">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/chartist.min.css">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/chartist.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top: 5%">
      <div>
        <h3>Hampness Hunter</h3>
      </div>
    </div>
    <div class="row">
      <button id="set-on" class="button-primary" onclick="setOn();" {% if on %}style="display: none;"{% endif %}>Enable heater</button>
      <button id="set-off" onclick="setOff();" {% if not on %}style="display: none;"{% endif %}>Disable heater</button>
    </div>
    <div class="row" style="margin-top: 5px">
      <h4>Readings</h4>
    </div>
    <div class="row readings">
      <div class="one-half column">
        <p>Temperature: <span id="temperature"></span>°C</p>
      </div>
      <div class="one-half column">
        <p>Humidity: <span id="humidity"></span>%</p>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <div id="chart-temperature" class="ct-chart"></div>
      </div>
      <div class="one-half column">
        <div id="chart-humidity" class="ct-chart"></div>
      </div>
    </div>
    <div class="row">
      <h4>Preferences</h4>
    </div>
    <form class="preferences">
      <div class="row">
        <div class="six columns">
          <label for="thresholdTemperature">Temperature Threshold</label>
          <input id="thresholdTemperature" type="number">
        </div>
        <div class="six columns">
          <label for="thresholdHumidity">Humidity Threshold</label>
          <input id="thresholdHumidity" type="number">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="maxTemperature">Maximum Temperature</label>
          <input id="maxTemperature" type="number">
        </div>
      </div>
      <button onclick="changeSettings(); return false;">Update</button>
    </form>
    <div class="row">
      <p>
        By <a href="https://www.ytotech.com">YtoTech</a>.
        See <a href="https://github.com/MonsieurV/PiDampnessHunter">code on GitHub</a>.
      </p>
    </div>
  </div>
<script>
var originalForm = null;
var chartTemperature = {
  labels: [],
  series: [
    []
  ]
}
var chartHumidity = {
  labels: [],
  series: [
    []
  ]
}

function showGraph() {
  new Chartist.Line('#chart-temperature', chartTemperature, {
    showPoint: false,
    lineSmooth: false,
    axisX: {
      showGrid: false,
      showLabel: false
    }
  });
  new Chartist.Line('#chart-humidity', chartHumidity, {
    showPoint: false,
    lineSmooth: false,
    axisX: {
      showGrid: false,
      showLabel: false
    }
  });
}

function setStateOnOff(on) {
  if(on) {
    $("#set-off").show();
    $("#set-on").hide();
  } else {
    $("#set-on").show();
    $("#set-off").hide();
  }
}

function setOn() {
  setStateOnOff(true);
  $.post("/on");
}

function setOff() {
  setStateOnOff(false);
  $.post("/off");
}

function serializeForm() {
  return JSON.stringify({
    "threshold_temperature": parseFloat($("#thresholdTemperature").val()),
    "threshold_humidity": parseFloat($("#thresholdHumidity").val()),
    "max_temperature": parseFloat($("#maxTemperature").val())
  });
}

function getSettings() {
  $.getJSON("/settings", function(data) {
    $("#thresholdTemperature").val(data.threshold_temperature);
    $("#thresholdHumidity").val(data.threshold_humidity);
    $("#maxTemperature").val(data.max_temperature);
    originalForm = serializeForm();
    $(".preferences button").removeClass("button-primary");
  });
}

$('.preferences :input').on('change input', function() {
  if(originalForm !== null)
    if(serializeForm().valueOf() !== originalForm.valueOf())
      $(".preferences button").addClass("button-primary");
    else
      $(".preferences button").removeClass("button-primary");
});

function poll() {
  $.getJSON("/readings", function(data) {
    $(".readings #temperature").text(data.temperature);
    $(".readings #humidity").text(data.humidity);
    chartTemperature.labels.push('');
    chartTemperature.series[0].push(data.temperature);
    chartHumidity.labels.push('');
    chartHumidity.series[0].push(data.humidity);
    showGraph();
  });
  $.getJSON("/settings", function(data) {
    setStateOnOff(data.on);
  });
}

function changeSettings() {
  $.ajax("/settings", {
    data: serializeForm(),
    contentType : 'application/json',
    type: 'PATCH',
    success: function() {
      getSettings();
    }
  });
}

poll();
getSettings();

setInterval(function() {
  poll();
}, 2000);
</script>
</body>
</html>
